NEXT_PUBLIC_SITE_URL=https://inovixadigital.com

RESEND_API_KEY=
AUDIT_NOTIFICATION_EMAIL=
CONTACT_NOTIFICATION_EMAIL=

NEXT_PUBLIC_GA_ID=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
